*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.NameNav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.NameNav nav a{
    padding: 10px;
}
.socialmedialogs nav a img{
    max-width: 25px;
}